In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data
import os
import acquire

4.  In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [2]:
df_iris = data('iris')

In [3]:
type(df_iris)

pandas.core.frame.DataFrame

print the first 3 rows

In [4]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

print the number of rows and columns (shape)

In [5]:
df_iris.shape

(150, 5)

print the column names

In [6]:
print(df_iris.columns.tolist()) #From notes

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

print the data type of each column

In [7]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

print the summary statistics for each of the numeric variables

In [8]:
print(df_iris.describe())

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
#From class
df_iris.describe().T

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

5. Read the data from this google sheet into a dataframe, df_google.

In [10]:


sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
    
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

print the first 3 rows

In [11]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

print the number of rows and columns

In [12]:
df_google.shape

(891, 12)

print the column names

In [13]:
print(df_google.columns.tolist())

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

print the data type of each column

In [14]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

print the summary statistics for each of the numeric variables

In [16]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

print the unique values for each of your categorical variables

In [17]:
df_google.value_counts

<bound method DataFrame.value_counts of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                    Name     Sex   Age  SibSp  \
0                                Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                                 Heikkinen, Miss. Laina  female  26.0      0
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                               Allen, Mr. William Henry    male  35.0      0
..                                                   ...     ...   ...    ...
886                                Montvila, Rev. Juozas    male  27.0      0
887                         Graham, Miss. Margaret Edith  female  19.0      0
888             Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                                Behr, Mr. Karl Howell    male  26.0      0
890                                  Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

6.  Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [18]:
df_excel = pd.read_excel('train.xlsx')
df_excel

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

assign the first 100 rows to a new dataframe, df_excel_sample

In [19]:
df_excel_sample = df_excel[df_excel.PassengerId <= 100]
df_excel_sample

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S

print the number of rows of your original dataframe

In [20]:
df_excel[:100]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.00,3,2,19950,263.0000,C23 C25 C27,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.00,0,1,PC 17759,63.3583,D10 D12,C
98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0,1,231919,23.0000,NaN,S
99,100,0,2,"Kantor, Mr. Sinai",male,34.00,1,0,244367,26.0000,NaN,S

print the first 5 column names

In [21]:
print(df_excel.columns[:5])

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

print the column names that have a data type of object

In [22]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [23]:
df_excel.select_dtypes(include='object').columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

compute the range for each of the numeric variables.

In [24]:
df_excel.select_dtypes(exclude='object').columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [25]:
df_excel.select_dtypes(include='number').columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [26]:
numbers = df_excel[['Age', 'Fare']]

In [27]:
numbers

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [28]:
numbers.describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [29]:
age_range = max(numbers.Age) - min(numbers.Age)
age_range

79.58

In [30]:
fare_range = numbers.Fare.max() - numbers.Fare.min()
fare_range

512.3292

Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [31]:
from env import get_db_url
import os

In [32]:
# def get_titanic_data():
#     filename = 'titanic.csv'
    
#     if os.path.isfile(filename):
#         return pd.read_csv(filename)
#     else:
#         # read the SQL query into a dataframe
#         titanic_db = pd.read_sql('SELECT * FROM passengers', get_db_url('titanic_db'))
        
#         # Write that dataframe to disk for later.  Called "caching" the data for later.
#         titanic_db.to_csv(filename)
        
#         return titanic_db

In [33]:
get_titanic_data()

NameError: name 'get_titanic_data' is not defined

In [ ]:
# def get_iris_data():
#     filename = 'iris.csv'
    
#     if os.path.isfile(filename):
#         return pd.read_csv(filename)
#     else:
#         #read the SQL query into a dataframe
#         iris_db = pd.read_sql('SELECT * FROM species JOIN measurements USING (species_id)', get_db_url('iris_db'))
        
#         # Write that dataframe to disk for later.  Called "caching" the data for later.
#         iris_db.to_csv(filename)
        
#     return iris_db

Use the function defined in acquire.py to load the Titanic data.

In [ ]:
iris_db = acquire.get_iris_data()

In [34]:
# def get_telco_data():
#     query = '''
#     SELECT * 
#     FROM customers
#     JOIN contract_types USING (contract_type_id)
#     JOIN internet_service_types USING (internet_service_type_id)
#     JOIN payment_types USING (payment_type_id);
#     '''
    
#     filename = 'telco.csv'
#     if os.path.isfile(filename):
#         return pd.read_csv(filename)
#     else: 
#         #read the SQL query into a dataframe
#         telco_churn_db = pd.read_sql(query, get_db_url('telco_churn'))
        
#         # Write that dataframe to disk for later.  Called "caching" the data for later.
#         telco_churn_db.to_csv(filename)
        
#     return telco_churn_db

In [35]:
os.path.exists('iris.csv') #Troubleshooting I want to remember

True

Use the function defined in acquire.py to load the iris data.

In [36]:
iris_db = acquire.get_iris_data()
iris_db

,Unnamed: 0,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,1,setosa,2,4.9,3.0,1.4,0.2
2,2,1,setosa,3,4.7,3.2,1.3,0.2
3,3,1,setosa,4,4.6,3.1,1.5,0.2
4,4,1,setosa,5,5.0,3.6,1.4,0.2
5,5,1,setosa,6,5.4,3.9,1.7,0.4
6,6,1,setosa,7,4.6,3.4,1.4,0.3
7,7,1,setosa,8,5.0,3.4,1.5,0.2
8,8,1,setosa,9,4.4,2.9,1.4,0.2
9,9,1,setosa,10,4.9,3.1,1.5,0.1
10,10,1,setosa,11,5.4,3.7,1.5,0.2
11,11,1,setosa,12,4.8,3.4,1.6,0.2
12,12,1,setosa,13,4.8,3.0,1.4,0.1
13,13,1,setosa,14,4.3,3.0,1.1,0.1
14,14,1,setosa,15,5.8,4.0,1.2,0.2
15,15,1,setosa,16,5.7,4.4,1.5,0.4
16,16,1,setosa,17,5.4,3.9,1.3,0.4
17,17,1,setosa,18,5.1,3.5,1.4,0.3
18,18,1,setosa,19,5.7,3.8,1.7,0.3
19,19,1,setosa,20,5.1,3.8,1.5,0.3
20,20,1,setosa,21,5.4,3.4,1.7,0.2
21,21,1,setosa,22,5.1,3.7,1.5,0.4
22,22,1,setosa,23,4.6,3.6,1.0,0.2
23,23,1,setosa,24,5.1,3.3,1.7,0.5
24,24,1,setosa,25,4.8,3.4,1.9,0.2
25,25,1,setosa,26,5.0,3.0,1.6,0.2
26,26,1,setosa,27,5.0,3.4,1.6,0.4
27,27,1,setosa,28,5.2,3.5,1.5,0.2
28,28,1,setosa,29,5.2,3.4,1.4,0.2
29,29,1,setosa,30,4.7,3.2,1.6,0.2
30,30,1,setosa,31,4.8,3.1,1.6,0.2
31,31,1,setosa,32,5.4,3.4,1.5,0.4
32,32,1,setosa,33,5.2,4.1,1.5,0.1
33,33,1,setosa,34,5.5,4.2,1.4,0.2
34,34,1,setosa,35,4.9,3.1,1.5,0.2
35,35,1,setosa,36,5.0,3.2,1.2,0.2
36,36,1,setosa,37,5.5,3.5,1.3,0.2
37,37,1,setosa,38,4.9,3.6,1.4,0.1
38,38,1,setosa,39,4.4,3.0,1.3,0.2
39,39,1,setosa,40,5.1,3.4,1.5,0.2
40,40,1,setosa,41,5.0,3.5,1.3,0.3
41,41,1,setosa,42,4.5,2.3,1.3,0.3
42,42,1,setosa,43,4.4,3.2,1.3,0.2
43,43,1,setosa,44,5.0,3.5,1.6,0.6
44,44,1,setosa,45,5.1,3.8,1.9,0.4
45,45,1,setosa,46,4.8,3.0,1.4,0.3
46,46,1,setosa,47,5.1,3.8,1.6,0.2
47,47,1,setosa,48,4.6,3.2,1.4,0.2
48,48,1,setosa,49,5.3,3.7,1.5,0.2
49,49,1,setosa,50,5.0,3.3,1.4,0.2
50,50,2,versicolor,51,7.0,3.2,4.7,1.4
51,51,2,versicolor,52,6.4,3.2,4.5,1.5
52,52,2,versicolor,53,6.9,3.1,4.9,1.5
53,53,2,versicolor,54,5.5,2.3,4.0,1.3
54,54,2,versicolor,55,6.5,2.8,4.6,1.5
55,55,2,versicolor,56,5.7,2.8,4.5,1.3
56,56,2,versicolor,57,6.3,3.3,4.7,1.6
57,57,2,versicolor,58,4.9,2.4,3.3,1.0
58,58,2,versicolor,59,6.6,2.9,4.6,1.3
59,59,2,versicolor,60,5.2,2.7,3.9,1.4
60,60,2,versicolor,61,5.0,2.0,3.5,1.0
61,61,2,versicolor,62,5.9,3.0,4.2,1.5
62,62,2,versicolor,63,6.0,2.2,4.0,1.0
63,63,2,versicolor,64,6.1,2.9,4.7,1.4
64,64,2,versicolor,65,5.6,2.9,3.6,1.3
65,65,2,versicolor,66,6.7,3.1,4.4,1.4
66,66,2,versicolor,67,5.6,3.0,4.5,1.5
67,67,2,versicolor,68,5.8,2.7,4.1,1.0
68,68,2,versicolor,69,6.2,2.2,4.5,1.5
69,69,2,versicolor,70,5.6,2.5,3.9,1.1
70,70,2,versicolor,71,5.9,3.2,4.8,1.8
71,71,2,versicolor,72,6.1,2.8,4.0,1.3
72,72,2,versicolor,73,6.3,2.5,4.9,1.5
73,73,2,versicolor,74,6.1,2.8,4.7,1.2
74,74,2,versicolor,75,6.4,2.9,4.3,1.3
75,75,2,versicolor,76,6.6,3.0,4.4,1.4
76,76,2,versicolor,77,6.8,2.8,4.8,1.4
77,77,2,versicolor,78,6.7,3.0,5.0,1.7
78,78,2,versicolor,79,6.0,2.9,4.5,1.5
79,79,2,versicolor,80,5.7,2.6,3.5,1.0
80,80,2,versicolor,81,5.5,2.4,3.8,1.1
81,81,2,versicolor,82,5.5,2.4,3.7,1.0
82,82,2,versicolor,83,5.8,2.7,3.9,1.2
83,83,2,versicolor,84,6.0,2.7,5.1,1.6
84,84,2,versicolor,85,5.4,3.0,4.5,1.5
85,85,2,versicolor,86,6.0,3.4,4.5,1.6
86,86,2,versicolor,87,6.7,3.1,4.7,1.5
87,87,2,versicolor,88,6.3,2.3,4.4,1.3
88,88,2,versicolor,89,5.6,3.0,4.1,1.3
89,89,2,versicolor,90,5.5,2.5,4.0,1.3
90,90,2,versicolor,91,5.5,2.6,4.4,1.2
91,91,2,versicolor,92,6.1,3.0,4.6,1.4
92,92,2,versicolor,93,5.8,2.6,4.0,1.2
93,93,2,versicolor,94,5.0,2.3,3.3,1.0
94,94,2,versicolor,95,5.6,2.7,4.2,1.3
95,95,2,versicolor,96,5.7,3.0,4.2,1.2
96,96,2,versicolor,97,5.7,2.9,4.2,1.3
97,97,2,versicolor,98,6.2,2.9,4.3,1.3
98,98,2,versicolor,99,5.1,2.5,3.0,1.1
99,99,2,versicolor,100,5.7,2.8,4.1,1.3
100,100,3,virginica,101,6.3,3.3,6.0,2.5
101,101,3,virginica,102,5.8,2.7,5.1,1.9
102,102,3,virginica,103,7.1,3.0,5.9,2.1
103,103,3,virginica,104,6.3,2.9,5.6,1.8
104,104,3,virginica,105,6.5,3.0,5.8,2.2
105,105,3,virginica,106,7.6,3.0,6.6,2.1
106,106,3,virginica,107,4.9,2.5,4.5,1.7
107,107,3,virginica,108,7.3,2.9,6.3,1.8
108,108,3,virginica,109,6.7,2.5,5.8,1.8
109,109,3,virginica,110,7.2,3.6,6.1,2.5
110,110,3,virginica,111,6.5,3.2,5.1,2.0
111,111,3,virginica,112,6.4,2.7,5.3,1.9
112,112,3,virginica,113,6.8,3.0,5.5,2.1
113,113,3,virginica,114,5.7,2.5,5.0,2.0
114,114,3,virginica,115,5.8,2.8,5.1,2.4
115,115,3,virginica,116,6.4,3.2,5.3,2.3
116,116,3,virginica,117,6.5,3.0,5.5,1.8
117,117,3,virginica,118,7.7,3.8,6.7,2.2
118,118,3,virginica,119,7.7,2.6,6.9,2.3
119,119,3,virginica,120,6.0,2.2,5.0,1.5
120,120,3,virginica,121,6.9,3.2,5.7,2.3
121,121,3,virginica,122,5.6,2.8,4.9,2.0
122,122,3,virginica,123,7.7,2.8,6.7,2.0
123,123,3,virginica,124,6.3,2.7,4.9,1.8
124,124,3,virginica,125,6.7,3.3,5.7,2.1
125,125,3,virginica,126,7.2,3.2,6.0,1.8
126,126,3,virginica,127,6.2,2.8,4.8,1.8
127,127,3,virginica,128,6.1,3.0,4.9,1.8
128,128,3,virginica,129,6.4,2.8,5.6,2.1
129,129,3,virginica,130,7.2,3.0,5.8,1.6
130,130,3,virginica,131,7.4,2.8,6.1,1.9
131,131,3,virginica,132,7.9,3.8,6.4,2.0
132,132,3,virginica,133,6.4,2.8,5.6,2.2
133,133,3,virginica,134,6.3,2.8,5.1,1.5
134,134,3,virginica,135,6.1,2.6,5.6,1.4
135,135,3,virginica,136,7.7,3.0,6.1,2.3
136,136,3,virginica,137,6.3,3.4,5.6,2.4
137,137,3,virginica,138,6.4,3.1,5.5,1.8
138,138,3,virginica,139,6.0,3.0,4.8,1.8
139,139,3,virginica,140,6.9,3.1,5.4,2.1
140,140,3,virginica,141,6.7,3.1,5.6,2.4
141,141,3,virginica,142,6.9,3.1,5.1,2.3
142,142,3,virginica,143,5.8,2.7,5.1,1.9
143,143,3,virginica,144,6.8,3.2,5.9,2.3
144,144,3,virginica,145,6.7,3.3,5.7,2.5
145,145,3,virginica,146,6.7,3.0,5.2,2.3
146,146,3,virginica,147,6.3,2.5,5.0,1.9
147,147,3,virginica,148,6.5,3.0,5.2,2.0
148,148,3,virginica,149,6.2,3.4,5.4,2.3
149,149,3,virginica,150,5.9,3.0,5.1,1.8

Drop the species_id and measurement_id columns.

In [37]:
iris_db = iris_db.drop(columns=['species_id', 'measurement_id'])

Rename the species_name column to just species.

In [38]:
iris_db = iris_db.rename({'species_name': 'species'}, axis=1)

Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [39]:
iris_db

,Unnamed: 0,species,sepal_length,sepal_width,petal_length,petal_width
0,0,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,2,setosa,4.7,3.2,1.3,0.2
3,3,setosa,4.6,3.1,1.5,0.2
4,4,setosa,5.0,3.6,1.4,0.2
5,5,setosa,5.4,3.9,1.7,0.4
6,6,setosa,4.6,3.4,1.4,0.3
7,7,setosa,5.0,3.4,1.5,0.2
8,8,setosa,4.4,2.9,1.4,0.2
9,9,setosa,4.9,3.1,1.5,0.1
10,10,setosa,5.4,3.7,1.5,0.2
11,11,setosa,4.8,3.4,1.6,0.2
12,12,setosa,4.8,3.0,1.4,0.1
13,13,setosa,4.3,3.0,1.1,0.1
14,14,setosa,5.8,4.0,1.2,0.2
15,15,setosa,5.7,4.4,1.5,0.4
16,16,setosa,5.4,3.9,1.3,0.4
17,17,setosa,5.1,3.5,1.4,0.3
18,18,setosa,5.7,3.8,1.7,0.3
19,19,setosa,5.1,3.8,1.5,0.3
20,20,setosa,5.4,3.4,1.7,0.2
21,21,setosa,5.1,3.7,1.5,0.4
22,22,setosa,4.6,3.6,1.0,0.2
23,23,setosa,5.1,3.3,1.7,0.5
24,24,setosa,4.8,3.4,1.9,0.2
25,25,setosa,5.0,3.0,1.6,0.2
26,26,setosa,5.0,3.4,1.6,0.4
27,27,setosa,5.2,3.5,1.5,0.2
28,28,setosa,5.2,3.4,1.4,0.2
29,29,setosa,4.7,3.2,1.6,0.2
30,30,setosa,4.8,3.1,1.6,0.2
31,31,setosa,5.4,3.4,1.5,0.4
32,32,setosa,5.2,4.1,1.5,0.1
33,33,setosa,5.5,4.2,1.4,0.2
34,34,setosa,4.9,3.1,1.5,0.2
35,35,setosa,5.0,3.2,1.2,0.2
36,36,setosa,5.5,3.5,1.3,0.2
37,37,setosa,4.9,3.6,1.4,0.1
38,38,setosa,4.4,3.0,1.3,0.2
39,39,setosa,5.1,3.4,1.5,0.2
40,40,setosa,5.0,3.5,1.3,0.3
41,41,setosa,4.5,2.3,1.3,0.3
42,42,setosa,4.4,3.2,1.3,0.2
43,43,setosa,5.0,3.5,1.6,0.6
44,44,setosa,5.1,3.8,1.9,0.4
45,45,setosa,4.8,3.0,1.4,0.3
46,46,setosa,5.1,3.8,1.6,0.2
47,47,setosa,4.6,3.2,1.4,0.2
48,48,setosa,5.3,3.7,1.5,0.2
49,49,setosa,5.0,3.3,1.4,0.2
50,50,versicolor,7.0,3.2,4.7,1.4
51,51,versicolor,6.4,3.2,4.5,1.5
52,52,versicolor,6.9,3.1,4.9,1.5
53,53,versicolor,5.5,2.3,4.0,1.3
54,54,versicolor,6.5,2.8,4.6,1.5
55,55,versicolor,5.7,2.8,4.5,1.3
56,56,versicolor,6.3,3.3,4.7,1.6
57,57,versicolor,4.9,2.4,3.3,1.0
58,58,versicolor,6.6,2.9,4.6,1.3
59,59,versicolor,5.2,2.7,3.9,1.4
60,60,versicolor,5.0,2.0,3.5,1.0
61,61,versicolor,5.9,3.0,4.2,1.5
62,62,versicolor,6.0,2.2,4.0,1.0
63,63,versicolor,6.1,2.9,4.7,1.4
64,64,versicolor,5.6,2.9,3.6,1.3
65,65,versicolor,6.7,3.1,4.4,1.4
66,66,versicolor,5.6,3.0,4.5,1.5
67,67,versicolor,5.8,2.7,4.1,1.0
68,68,versicolor,6.2,2.2,4.5,1.5
69,69,versicolor,5.6,2.5,3.9,1.1
70,70,versicolor,5.9,3.2,4.8,1.8
71,71,versicolor,6.1,2.8,4.0,1.3
72,72,versicolor,6.3,2.5,4.9,1.5
73,73,versicolor,6.1,2.8,4.7,1.2
74,74,versicolor,6.4,2.9,4.3,1.3
75,75,versicolor,6.6,3.0,4.4,1.4
76,76,versicolor,6.8,2.8,4.8,1.4
77,77,versicolor,6.7,3.0,5.0,1.7
78,78,versicolor,6.0,2.9,4.5,1.5
79,79,versicolor,5.7,2.6,3.5,1.0
80,80,versicolor,5.5,2.4,3.8,1.1
81,81,versicolor,5.5,2.4,3.7,1.0
82,82,versicolor,5.8,2.7,3.9,1.2
83,83,versicolor,6.0,2.7,5.1,1.6
84,84,versicolor,5.4,3.0,4.5,1.5
85,85,versicolor,6.0,3.4,4.5,1.6
86,86,versicolor,6.7,3.1,4.7,1.5
87,87,versicolor,6.3,2.3,4.4,1.3
88,88,versicolor,5.6,3.0,4.1,1.3
89,89,versicolor,5.5,2.5,4.0,1.3
90,90,versicolor,5.5,2.6,4.4,1.2
91,91,versicolor,6.1,3.0,4.6,1.4
92,92,versicolor,5.8,2.6,4.0,1.2
93,93,versicolor,5.0,2.3,3.3,1.0
94,94,versicolor,5.6,2.7,4.2,1.3
95,95,versicolor,5.7,3.0,4.2,1.2
96,96,versicolor,5.7,2.9,4.2,1.3
97,97,versicolor,6.2,2.9,4.3,1.3
98,98,versicolor,5.1,2.5,3.0,1.1
99,99,versicolor,5.7,2.8,4.1,1.3
100,100,virginica,6.3,3.3,6.0,2.5
101,101,virginica,5.8,2.7,5.1,1.9
102,102,virginica,7.1,3.0,5.9,2.1
103,103,virginica,6.3,2.9,5.6,1.8
104,104,virginica,6.5,3.0,5.8,2.2
105,105,virginica,7.6,3.0,6.6,2.1
106,106,virginica,4.9,2.5,4.5,1.7
107,107,virginica,7.3,2.9,6.3,1.8
108,108,virginica,6.7,2.5,5.8,1.8
109,109,virginica,7.2,3.6,6.1,2.5
110,110,virginica,6.5,3.2,5.1,2.0
111,111,virginica,6.4,2.7,5.3,1.9
112,112,virginica,6.8,3.0,5.5,2.1
113,113,virginica,5.7,2.5,5.0,2.0
114,114,virginica,5.8,2.8,5.1,2.4
115,115,virginica,6.4,3.2,5.3,2.3
116,116,virginica,6.5,3.0,5.5,1.8
117,117,virginica,7.7,3.8,6.7,2.2
118,118,virginica,7.7,2.6,6.9,2.3
119,119,virginica,6.0,2.2,5.0,1.5
120,120,virginica,6.9,3.2,5.7,2.3
121,121,virginica,5.6,2.8,4.9,2.0
122,122,virginica,7.7,2.8,6.7,2.0
123,123,virginica,6.3,2.7,4.9,1.8
124,124,virginica,6.7,3.3,5.7,2.1
125,125,virginica,7.2,3.2,6.0,1.8
126,126,virginica,6.2,2.8,4.8,1.8
127,127,virginica,6.1,3.0,4.9,1.8
128,128,virginica,6.4,2.8,5.6,2.1
129,129,virginica,7.2,3.0,5.8,1.6
130,130,virginica,7.4,2.8,6.1,1.9
131,131,virginica,7.9,3.8,6.4,2.0
132,132,virginica,6.4,2.8,5.6,2.2
133,133,virginica,6.3,2.8,5.1,1.5
134,134,virginica,6.1,2.6,5.6,1.4
135,135,virginica,7.7,3.0,6.1,2.3
136,136,virginica,6.3,3.4,5.6,2.4
137,137,virginica,6.4,3.1,5.5,1.8
138,138,virginica,6.0,3.0,4.8,1.8
139,139,virginica,6.9,3.1,5.4,2.1
140,140,virginica,6.7,3.1,5.6,2.4
141,141,virginica,6.9,3.1,5.1,2.3
142,142,virginica,5.8,2.7,5.1,1.9
143,143,virginica,6.8,3.2,5.9,2.3
144,144,virginica,6.7,3.3,5.7,2.5
145,145,virginica,6.7,3.0,5.2,2.3
146,146,virginica,6.3,2.5,5.0,1.9
147,147,virginica,6.5,3.0,5.2,2.0
148,148,virginica,6.2,3.4,5.4,2.3
149,149,virginica,5.9,3.0,5.1,1.8

In [40]:
dummy_iris_db = pd.get_dummies(iris_db['species'], dummy_na=False, drop_first=[True])

In [41]:
dummy_iris_db

     versicolor  virginica
0             0          0
1             0          0
2             0          0
3             0          0
4             0          0
5             0          0
6             0          0
7             0          0
8             0          0
9             0          0
10            0          0
11            0          0
12            0          0
13            0          0
14            0          0
15            0          0
16            0          0
17            0          0
18            0          0
19            0          0
20            0          0
21            0          0
22            0          0
23            0          0
24            0          0
25            0          0
26            0          0
27            0          0
28            0          0
29            0          0
30            0          0
31            0          0
32            0          0
33            0          0
34            0          0
35            0          0
36            0          0
37            0          0
38            0          0
39            0          0
40            0          0
41            0          0
42            0          0
43            0          0
44            0          0
45            0          0
46            0          0
47            0          0
48            0          0
49            0          0
50            1          0
51            1          0
52            1          0
53            1          0
54            1          0
55            1          0
56            1          0
57            1          0
58            1          0
59            1          0
60            1          0
61            1          0
62            1          0
63            1          0
64            1          0
65            1          0
66            1          0
67            1          0
68            1          0
69            1          0
70            1          0
71            1          0
72            1          0
73            1          0
74            1          0
75            1          0
76            1          0
77            1          0
78            1          0
79            1          0
80            1          0
81            1          0
82            1          0
83            1          0
84            1          0
85            1          0
86            1          0
87            1          0
88            1          0
89            1          0
90            1          0
91            1          0
92            1          0
93            1          0
94            1          0
95            1          0
96            1          0
97            1          0
98            1          0
99            1          0
100           0          1
101           0          1
102           0          1
103           0          1
104           0          1
105           0          1
106           0          1
107           0          1
108           0          1
109           0          1
110           0          1
111           0          1
112           0          1
113           0          1
114           0          1
115           0          1
116           0          1
117           0          1
118           0          1
119           0          1
120           0          1
121           0          1
122           0          1
123           0          1
124           0          1
125           0          1
126           0          1
127           0          1
128           0          1
129           0          1
130           0          1
131           0          1
132           0          1
133           0          1
134           0          1
135           0          1
136           0          1
137           0          1
138           0          1
139           0          1
140           0          1
141           0          1
142           0          1
143           0          1
144           0          1
145           0          1
146           0          1
147           0          1
148           0          1
149           0          1

In [42]:
iris_db = pd.concat([iris_db, dummy_iris_db], axis=1)
iris_db

,Unnamed: 0,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,0,setosa,5.1,3.5,1.4,0.2,0,0
1,1,setosa,4.9,3.0,1.4,0.2,0,0
2,2,setosa,4.7,3.2,1.3,0.2,0,0
3,3,setosa,4.6,3.1,1.5,0.2,0,0
4,4,setosa,5.0,3.6,1.4,0.2,0,0
5,5,setosa,5.4,3.9,1.7,0.4,0,0
6,6,setosa,4.6,3.4,1.4,0.3,0,0
7,7,setosa,5.0,3.4,1.5,0.2,0,0
8,8,setosa,4.4,2.9,1.4,0.2,0,0
9,9,setosa,4.9,3.1,1.5,0.1,0,0
10,10,setosa,5.4,3.7,1.5,0.2,0,0
11,11,setosa,4.8,3.4,1.6,0.2,0,0
12,12,setosa,4.8,3.0,1.4,0.1,0,0
13,13,setosa,4.3,3.0,1.1,0.1,0,0
14,14,setosa,5.8,4.0,1.2,0.2,0,0
15,15,setosa,5.7,4.4,1.5,0.4,0,0
16,16,setosa,5.4,3.9,1.3,0.4,0,0
17,17,setosa,5.1,3.5,1.4,0.3,0,0
18,18,setosa,5.7,3.8,1.7,0.3,0,0
19,19,setosa,5.1,3.8,1.5,0.3,0,0
20,20,setosa,5.4,3.4,1.7,0.2,0,0
21,21,setosa,5.1,3.7,1.5,0.4,0,0
22,22,setosa,4.6,3.6,1.0,0.2,0,0
23,23,setosa,5.1,3.3,1.7,0.5,0,0
24,24,setosa,4.8,3.4,1.9,0.2,0,0
25,25,setosa,5.0,3.0,1.6,0.2,0,0
26,26,setosa,5.0,3.4,1.6,0.4,0,0
27,27,setosa,5.2,3.5,1.5,0.2,0,0
28,28,setosa,5.2,3.4,1.4,0.2,0,0
29,29,setosa,4.7,3.2,1.6,0.2,0,0
30,30,setosa,4.8,3.1,1.6,0.2,0,0
31,31,setosa,5.4,3.4,1.5,0.4,0,0
32,32,setosa,5.2,4.1,1.5,0.1,0,0
33,33,setosa,5.5,4.2,1.4,0.2,0,0
34,34,setosa,4.9,3.1,1.5,0.2,0,0
35,35,setosa,5.0,3.2,1.2,0.2,0,0
36,36,setosa,5.5,3.5,1.3,0.2,0,0
37,37,setosa,4.9,3.6,1.4,0.1,0,0
38,38,setosa,4.4,3.0,1.3,0.2,0,0
39,39,setosa,5.1,3.4,1.5,0.2,0,0
40,40,setosa,5.0,3.5,1.3,0.3,0,0
41,41,setosa,4.5,2.3,1.3,0.3,0,0
42,42,setosa,4.4,3.2,1.3,0.2,0,0
43,43,setosa,5.0,3.5,1.6,0.6,0,0
44,44,setosa,5.1,3.8,1.9,0.4,0,0
45,45,setosa,4.8,3.0,1.4,0.3,0,0
46,46,setosa,5.1,3.8,1.6,0.2,0,0
47,47,setosa,4.6,3.2,1.4,0.2,0,0
48,48,setosa,5.3,3.7,1.5,0.2,0,0
49,49,setosa,5.0,3.3,1.4,0.2,0,0
50,50,versicolor,7.0,3.2,4.7,1.4,1,0
51,51,versicolor,6.4,3.2,4.5,1.5,1,0
52,52,versicolor,6.9,3.1,4.9,1.5,1,0
53,53,versicolor,5.5,2.3,4.0,1.3,1,0
54,54,versicolor,6.5,2.8,4.6,1.5,1,0
55,55,versicolor,5.7,2.8,4.5,1.3,1,0
56,56,versicolor,6.3,3.3,4.7,1.6,1,0
57,57,versicolor,4.9,2.4,3.3,1.0,1,0
58,58,versicolor,6.6,2.9,4.6,1.3,1,0
59,59,versicolor,5.2,2.7,3.9,1.4,1,0
60,60,versicolor,5.0,2.0,3.5,1.0,1,0
61,61,versicolor,5.9,3.0,4.2,1.5,1,0
62,62,versicolor,6.0,2.2,4.0,1.0,1,0
63,63,versicolor,6.1,2.9,4.7,1.4,1,0
64,64,versicolor,5.6,2.9,3.6,1.3,1,0
65,65,versicolor,6.7,3.1,4.4,1.4,1,0
66,66,versicolor,5.6,3.0,4.5,1.5,1,0
67,67,versicolor,5.8,2.7,4.1,1.0,1,0
68,68,versicolor,6.2,2.2,4.5,1.5,1,0
69,69,versicolor,5.6,2.5,3.9,1.1,1,0
70,70,versicolor,5.9,3.2,4.8,1.8,1,0
71,71,versicolor,6.1,2.8,4.0,1.3,1,0
72,72,versicolor,6.3,2.5,4.9,1.5,1,0
73,73,versicolor,6.1,2.8,4.7,1.2,1,0
74,74,versicolor,6.4,2.9,4.3,1.3,1,0
75,75,versicolor,6.6,3.0,4.4,1.4,1,0
76,76,versicolor,6.8,2.8,4.8,1.4,1,0
77,77,versicolor,6.7,3.0,5.0,1.7,1,0
78,78,versicolor,6.0,2.9,4.5,1.5,1,0
79,79,versicolor,5.7,2.6,3.5,1.0,1,0
80,80,versicolor,5.5,2.4,3.8,1.1,1,0
81,81,versicolor,5.5,2.4,3.7,1.0,1,0
82,82,versicolor,5.8,2.7,3.9,1.2,1,0
83,83,versicolor,6.0,2.7,5.1,1.6,1,0
84,84,versicolor,5.4,3.0,4.5,1.5,1,0
85,85,versicolor,6.0,3.4,4.5,1.6,1,0
86,86,versicolor,6.7,3.1,4.7,1.5,1,0
87,87,versicolor,6.3,2.3,4.4,1.3,1,0
88,88,versicolor,5.6,3.0,4.1,1.3,1,0
89,89,versicolor,5.5,2.5,4.0,1.3,1,0
90,90,versicolor,5.5,2.6,4.4,1.2,1,0
91,91,versicolor,6.1,3.0,4.6,1.4,1,0
92,92,versicolor,5.8,2.6,4.0,1.2,1,0
93,93,versicolor,5.0,2.3,3.3,1.0,1,0
94,94,versicolor,5.6,2.7,4.2,1.3,1,0
95,95,versicolor,5.7,3.0,4.2,1.2,1,0
96,96,versicolor,5.7,2.9,4.2,1.3,1,0
97,97,versicolor,6.2,2.9,4.3,1.3,1,0
98,98,versicolor,5.1,2.5,3.0,1.1,1,0
99,99,versicolor,5.7,2.8,4.1,1.3,1,0
100,100,virginica,6.3,3.3,6.0,2.5,0,1
101,101,virginica,5.8,2.7,5.1,1.9,0,1
102,102,virginica,7.1,3.0,5.9,2.1,0,1
103,103,virginica,6.3,2.9,5.6,1.8,0,1
104,104,virginica,6.5,3.0,5.8,2.2,0,1
105,105,virginica,7.6,3.0,6.6,2.1,0,1
106,106,virginica,4.9,2.5,4.5,1.7,0,1
107,107,virginica,7.3,2.9,6.3,1.8,0,1
108,108,virginica,6.7,2.5,5.8,1.8,0,1
109,109,virginica,7.2,3.6,6.1,2.5,0,1
110,110,virginica,6.5,3.2,5.1,2.0,0,1
111,111,virginica,6.4,2.7,5.3,1.9,0,1
112,112,virginica,6.8,3.0,5.5,2.1,0,1
113,113,virginica,5.7,2.5,5.0,2.0,0,1
114,114,virginica,5.8,2.8,5.1,2.4,0,1
115,115,virginica,6.4,3.2,5.3,2.3,0,1
116,116,virginica,6.5,3.0,5.5,1.8,0,1
117,117,virginica,7.7,3.8,6.7,2.2,0,1
118,118,virginica,7.7,2.6,6.9,2.3,0,1
119,119,virginica,6.0,2.2,5.0,1.5,0,1
120,120,virginica,6.9,3.2,5.7,2.3,0,1
121,121,virginica,5.6,2.8,4.9,2.0,0,1
122,122,virginica,7.7,2.8,6.7,2.0,0,1
123,123,virginica,6.3,2.7,4.9,1.8,0,1
124,124,virginica,6.7,3.3,5.7,2.1,0,1
125,125,virginica,7.2,3.2,6.0,1.8,0,1
126,126,virginica,6.2,2.8,4.8,1.8,0,1
127,127,virginica,6.1,3.0,4.9,1.8,0,1
128,128,virginica,6.4,2.8,5.6,2.1,0,1
129,129,virginica,7.2,3.0,5.8,1.6,0,1
130,130,virginica,7.4,2.8,6.1,1.9,0,1
131,131,virginica,7.9,3.8,6.4,2.0,0,1
132,132,virginica,6.4,2.8,5.6,2.2,0,1
133,133,virginica,6.3,2.8,5.1,1.5,0,1
134,134,virginica,6.1,2.6,5.6,1.4,0,1
135,135,virginica,7.7,3.0,6.1,2.3,0,1
136,136,virginica,6.3,3.4,5.6,2.4,0,1
137,137,virginica,6.4,3.1,5.5,1.8,0,1
138,138,virginica,6.0,3.0,4.8,1.8,0,1
139,139,virginica,6.9,3.1,5.4,2.1,0,1
140,140,virginica,6.7,3.1,5.6,2.4,0,1
141,141,virginica,6.9,3.1,5.1,2.3,0,1
142,142,virginica,5.8,2.7,5.1,1.9,0,1
143,143,virginica,6.8,3.2,5.9,2.3,0,1
144,144,virginica,6.7,3.3,5.7,2.5,0,1
145,145,virginica,6.7,3.0,5.2,2.3,0,1
146,146,virginica,6.3,2.5,5.0,1.9,0,1
147,147,virginica,6.5,3.0,5.2,2.0,0,1
148,148,virginica,6.2,3.4,5.4,2.3,0,1
149,149,virginica,5.9,3.0,5.1,1.8,0,1

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [43]:
def prep_iris():
    iris_db = acquire.get_iris_data()
    iris_db = iris_db.drop(columns=['species_id', 'measurement_id'])
    iris_db = iris_db.rename({'species_name': 'species'}, axis=1)
    dummy_iris_db = pd.get_dummies(iris_db['species'], dummy_na=False, drop_first=[True])
    iris_db = pd.concat([iris_db, dummy_iris_db], axis=1)
    return iris_db

In [44]:
prep_iris()

,Unnamed: 0,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,0,setosa,5.1,3.5,1.4,0.2,0,0
1,1,setosa,4.9,3.0,1.4,0.2,0,0
2,2,setosa,4.7,3.2,1.3,0.2,0,0
3,3,setosa,4.6,3.1,1.5,0.2,0,0
4,4,setosa,5.0,3.6,1.4,0.2,0,0
5,5,setosa,5.4,3.9,1.7,0.4,0,0
6,6,setosa,4.6,3.4,1.4,0.3,0,0
7,7,setosa,5.0,3.4,1.5,0.2,0,0
8,8,setosa,4.4,2.9,1.4,0.2,0,0
9,9,setosa,4.9,3.1,1.5,0.1,0,0
10,10,setosa,5.4,3.7,1.5,0.2,0,0
11,11,setosa,4.8,3.4,1.6,0.2,0,0
12,12,setosa,4.8,3.0,1.4,0.1,0,0
13,13,setosa,4.3,3.0,1.1,0.1,0,0
14,14,setosa,5.8,4.0,1.2,0.2,0,0
15,15,setosa,5.7,4.4,1.5,0.4,0,0
16,16,setosa,5.4,3.9,1.3,0.4,0,0
17,17,setosa,5.1,3.5,1.4,0.3,0,0
18,18,setosa,5.7,3.8,1.7,0.3,0,0
19,19,setosa,5.1,3.8,1.5,0.3,0,0
20,20,setosa,5.4,3.4,1.7,0.2,0,0
21,21,setosa,5.1,3.7,1.5,0.4,0,0
22,22,setosa,4.6,3.6,1.0,0.2,0,0
23,23,setosa,5.1,3.3,1.7,0.5,0,0
24,24,setosa,4.8,3.4,1.9,0.2,0,0
25,25,setosa,5.0,3.0,1.6,0.2,0,0
26,26,setosa,5.0,3.4,1.6,0.4,0,0
27,27,setosa,5.2,3.5,1.5,0.2,0,0
28,28,setosa,5.2,3.4,1.4,0.2,0,0
29,29,setosa,4.7,3.2,1.6,0.2,0,0
30,30,setosa,4.8,3.1,1.6,0.2,0,0
31,31,setosa,5.4,3.4,1.5,0.4,0,0
32,32,setosa,5.2,4.1,1.5,0.1,0,0
33,33,setosa,5.5,4.2,1.4,0.2,0,0
34,34,setosa,4.9,3.1,1.5,0.2,0,0
35,35,setosa,5.0,3.2,1.2,0.2,0,0
36,36,setosa,5.5,3.5,1.3,0.2,0,0
37,37,setosa,4.9,3.6,1.4,0.1,0,0
38,38,setosa,4.4,3.0,1.3,0.2,0,0
39,39,setosa,5.1,3.4,1.5,0.2,0,0
40,40,setosa,5.0,3.5,1.3,0.3,0,0
41,41,setosa,4.5,2.3,1.3,0.3,0,0
42,42,setosa,4.4,3.2,1.3,0.2,0,0
43,43,setosa,5.0,3.5,1.6,0.6,0,0
44,44,setosa,5.1,3.8,1.9,0.4,0,0
45,45,setosa,4.8,3.0,1.4,0.3,0,0
46,46,setosa,5.1,3.8,1.6,0.2,0,0
47,47,setosa,4.6,3.2,1.4,0.2,0,0
48,48,setosa,5.3,3.7,1.5,0.2,0,0
49,49,setosa,5.0,3.3,1.4,0.2,0,0
50,50,versicolor,7.0,3.2,4.7,1.4,1,0
51,51,versicolor,6.4,3.2,4.5,1.5,1,0
52,52,versicolor,6.9,3.1,4.9,1.5,1,0
53,53,versicolor,5.5,2.3,4.0,1.3,1,0
54,54,versicolor,6.5,2.8,4.6,1.5,1,0
55,55,versicolor,5.7,2.8,4.5,1.3,1,0
56,56,versicolor,6.3,3.3,4.7,1.6,1,0
57,57,versicolor,4.9,2.4,3.3,1.0,1,0
58,58,versicolor,6.6,2.9,4.6,1.3,1,0
59,59,versicolor,5.2,2.7,3.9,1.4,1,0
60,60,versicolor,5.0,2.0,3.5,1.0,1,0
61,61,versicolor,5.9,3.0,4.2,1.5,1,0
62,62,versicolor,6.0,2.2,4.0,1.0,1,0
63,63,versicolor,6.1,2.9,4.7,1.4,1,0
64,64,versicolor,5.6,2.9,3.6,1.3,1,0
65,65,versicolor,6.7,3.1,4.4,1.4,1,0
66,66,versicolor,5.6,3.0,4.5,1.5,1,0
67,67,versicolor,5.8,2.7,4.1,1.0,1,0
68,68,versicolor,6.2,2.2,4.5,1.5,1,0
69,69,versicolor,5.6,2.5,3.9,1.1,1,0
70,70,versicolor,5.9,3.2,4.8,1.8,1,0
71,71,versicolor,6.1,2.8,4.0,1.3,1,0
72,72,versicolor,6.3,2.5,4.9,1.5,1,0
73,73,versicolor,6.1,2.8,4.7,1.2,1,0
74,74,versicolor,6.4,2.9,4.3,1.3,1,0
75,75,versicolor,6.6,3.0,4.4,1.4,1,0
76,76,versicolor,6.8,2.8,4.8,1.4,1,0
77,77,versicolor,6.7,3.0,5.0,1.7,1,0
78,78,versicolor,6.0,2.9,4.5,1.5,1,0
79,79,versicolor,5.7,2.6,3.5,1.0,1,0
80,80,versicolor,5.5,2.4,3.8,1.1,1,0
81,81,versicolor,5.5,2.4,3.7,1.0,1,0
82,82,versicolor,5.8,2.7,3.9,1.2,1,0
83,83,versicolor,6.0,2.7,5.1,1.6,1,0
84,84,versicolor,5.4,3.0,4.5,1.5,1,0
85,85,versicolor,6.0,3.4,4.5,1.6,1,0
86,86,versicolor,6.7,3.1,4.7,1.5,1,0
87,87,versicolor,6.3,2.3,4.4,1.3,1,0
88,88,versicolor,5.6,3.0,4.1,1.3,1,0
89,89,versicolor,5.5,2.5,4.0,1.3,1,0
90,90,versicolor,5.5,2.6,4.4,1.2,1,0
91,91,versicolor,6.1,3.0,4.6,1.4,1,0
92,92,versicolor,5.8,2.6,4.0,1.2,1,0
93,93,versicolor,5.0,2.3,3.3,1.0,1,0
94,94,versicolor,5.6,2.7,4.2,1.3,1,0
95,95,versicolor,5.7,3.0,4.2,1.2,1,0
96,96,versicolor,5.7,2.9,4.2,1.3,1,0
97,97,versicolor,6.2,2.9,4.3,1.3,1,0
98,98,versicolor,5.1,2.5,3.0,1.1,1,0
99,99,versicolor,5.7,2.8,4.1,1.3,1,0
100,100,virginica,6.3,3.3,6.0,2.5,0,1
101,101,virginica,5.8,2.7,5.1,1.9,0,1
102,102,virginica,7.1,3.0,5.9,2.1,0,1
103,103,virginica,6.3,2.9,5.6,1.8,0,1
104,104,virginica,6.5,3.0,5.8,2.2,0,1
105,105,virginica,7.6,3.0,6.6,2.1,0,1
106,106,virginica,4.9,2.5,4.5,1.7,0,1
107,107,virginica,7.3,2.9,6.3,1.8,0,1
108,108,virginica,6.7,2.5,5.8,1.8,0,1
109,109,virginica,7.2,3.6,6.1,2.5,0,1
110,110,virginica,6.5,3.2,5.1,2.0,0,1
111,111,virginica,6.4,2.7,5.3,1.9,0,1
112,112,virginica,6.8,3.0,5.5,2.1,0,1
113,113,virginica,5.7,2.5,5.0,2.0,0,1
114,114,virginica,5.8,2.8,5.1,2.4,0,1
115,115,virginica,6.4,3.2,5.3,2.3,0,1
116,116,virginica,6.5,3.0,5.5,1.8,0,1
117,117,virginica,7.7,3.8,6.7,2.2,0,1
118,118,virginica,7.7,2.6,6.9,2.3,0,1
119,119,virginica,6.0,2.2,5.0,1.5,0,1
120,120,virginica,6.9,3.2,5.7,2.3,0,1
121,121,virginica,5.6,2.8,4.9,2.0,0,1
122,122,virginica,7.7,2.8,6.7,2.0,0,1
123,123,virginica,6.3,2.7,4.9,1.8,0,1
124,124,virginica,6.7,3.3,5.7,2.1,0,1
125,125,virginica,7.2,3.2,6.0,1.8,0,1
126,126,virginica,6.2,2.8,4.8,1.8,0,1
127,127,virginica,6.1,3.0,4.9,1.8,0,1
128,128,virginica,6.4,2.8,5.6,2.1,0,1
129,129,virginica,7.2,3.0,5.8,1.6,0,1
130,130,virginica,7.4,2.8,6.1,1.9,0,1
131,131,virginica,7.9,3.8,6.4,2.0,0,1
132,132,virginica,6.4,2.8,5.6,2.2,0,1
133,133,virginica,6.3,2.8,5.1,1.5,0,1
134,134,virginica,6.1,2.6,5.6,1.4,0,1
135,135,virginica,7.7,3.0,6.1,2.3,0,1
136,136,virginica,6.3,3.4,5.6,2.4,0,1
137,137,virginica,6.4,3.1,5.5,1.8,0,1
138,138,virginica,6.0,3.0,4.8,1.8,0,1
139,139,virginica,6.9,3.1,5.4,2.1,0,1
140,140,virginica,6.7,3.1,5.6,2.4,0,1
141,141,virginica,6.9,3.1,5.1,2.3,0,1
142,142,virginica,5.8,2.7,5.1,1.9,0,1
143,143,virginica,6.8,3.2,5.9,2.3,0,1
144,144,virginica,6.7,3.3,5.7,2.5,0,1
145,145,virginica,6.7,3.0,5.2,2.3,0,1
146,146,virginica,6.3,2.5,5.0,1.9,0,1
147,147,virginica,6.5,3.0,5.2,2.0,0,1
148,148,virginica,6.2,3.4,5.4,2.3,0,1
149,149,virginica,5.9,3.0,5.1,1.8,0,1

# Titanic Dataset

Use the function defined in acquire.py to load the Titanic data.

In [45]:
titanic_db = acquire.get_titanic_data()

In [46]:
titanic_db

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [47]:
titanic_db.deck.value_counts().sum()

203

In [48]:
titanic_db.age.value_counts().sum()

714

Drop any unnecessary, unhelpful, or duplicated columns.

In [49]:
titanic_db = titanic_db.drop(columns=['age', 'embarked', 'class', 'deck'])

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [89]:
dummy_titanic_db = pd.get_dummies(titanic_db[['sex', 'embark_town']], dummy_na=False, drop_first = [True, True])

In [90]:
dummy_titanic_db.head()

   sex_male  embark_town_Queenstown  embark_town_Southampton
0         1                       0                        1
1         0                       0                        0
2         0                       0                        1
3         0                       0                        1
4         1                       0                        1

In [91]:
titanic_db = pd.concat([titanic_db, dummy_titanic_db], axis=1)
titanic_db

,Unnamed: 0,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1,1,0,1
1,1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0,0,0,0
2,2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1,0,0,1
3,3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1,0,0,1
4,4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,0,0,13.0000,Southampton,1,1,0,1,1,0,1
887,887,887,1,1,female,0,0,30.0000,Southampton,1,0,0,1,0,0,1
888,888,888,0,3,female,1,2,23.4500,Southampton,0,0,0,1,0,0,1
889,889,889,1,1,male,0,0,30.0000,Cherbourg,1,1,0,0,1,0,0
890,890,890,0,3,male,0,0,7.7500,Queenstown,1,1,1,0,1,1,0

Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [92]:
def prep_titanic():
    titanic_db = acquire.get_titanic_data()
    titanic_db = titanic_db.drop(columns=['age', 'embarked', 'class', 'deck'])
    dummy_titanic_db = pd.get_dummies(titanic_db[['sex', 'embark_town']], dummy_na=False, drop_first = [True, True])
    titanic_db = pd.concat([titanic_db, dummy_titanic_db], axis=1)
    return titanic_db

In [93]:
prep_titanic()

,Unnamed: 0,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,0,0,13.0000,Southampton,1,1,0,1
887,887,887,1,1,female,0,0,30.0000,Southampton,1,0,0,1
888,888,888,0,3,female,1,2,23.4500,Southampton,0,0,0,1
889,889,889,1,1,male,0,0,30.0000,Cherbourg,1,1,0,0
890,890,890,0,3,male,0,0,7.7500,Queenstown,1,1,1,0

# Telco Dataset

Use the function defined in acquire.py to load the Telco data.

In [58]:
telco_churn_db = acquire.get_telco_data()

In [59]:
telco_churn_db

,Unnamed: 0,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,1,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,2,1,2,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,2,1,2,9987-LUTYD,Female,0,No,No,13,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,7040,2,1,1,9992-UJOEL,Male,0,No,No,2,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [76]:
telco_churn_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                7043 non-null   int64
 1   payment_type_id           7043 non-null   int64
 2   internet_service_type_id  7043 non-null   int64
 3   contract_type_id          7043 non-null   int64
 4   customer_id               7043 non-null   object
 5   gender                    7043 non-null   object
 6   senior_citizen            7043 non-null   int64
 7   partner                   7043 non-null   object
 8   dependents                7043 non-null   object
 9   tenure                    7043 non-null   int64
 10  phone_service             7043 non-null   object
 11  multiple_lines            7043 non-null   object
 12  online_security           7043 non-null   object
 13  online_backup             7043 non-null   object
 14  device_protection         7043 non-null   object
 15  tech_support              7043 non-null   object
 16  streaming_tv              7043 non-null   object
 17  streaming_movies          7043 non-null   object
 18  paperless_billing         7043 non-null   object
 19  monthly_charges           7043 non-null   float64
 20  total_charges             7043 non-null   object
 21  churn                     7043 non-null   object
 22  contract_type             7043 non-null   object
 23  internet_service_type     7043 non-null   object
 24  payment_type              7043 non-null   object
dtypes: float64(1), int64(6), object(18)
memory usage: 1.3+ MB

In [77]:
for col in telco_churn_db.columns:
    print(col.upper())
    print(telco_churn_db[col].value_counts(dropna=False))

UNNAMED: 0
0       1
4691    1
4702    1
4701    1
4700    1
       ..
2344    1
2343    1
2342    1
2341    1
7042    1
Name: Unnamed: 0, Length: 7043, dtype: int64
PAYMENT_TYPE_ID
1    2365
2    1612
3    1544
4    1522
Name: payment_type_id, dtype: int64
INTERNET_SERVICE_TYPE_ID
2    3096
1    2421
3    1526
Name: internet_service_type_id, dtype: int64
CONTRACT_TYPE_ID
1    3875
3    1695
2    1473
Name: contract_type_id, dtype: int64
CUSTOMER_ID
0002-ORFBO    1
6616-AALSR    1
6625-UTXEW    1
6625-IUTTT    1
6625-FLENO    1
             ..
3352-RICWQ    1
3352-ALMCK    1
3351-NQLDI    1
3351-NGXYI    1
9995-HOTOH    1
Name: customer_id, Length: 7043, dtype: int64
GENDER
Male      3555
Female    3488
Name: gender, dtype: int64
SENIOR_CITIZEN
0    5901
1    1142
Name: senior_citizen, dtype: int64
PARTNER
No     3641
Yes    3402
Name: partner, dtype: int64
DEPENDENTS
No     4933
Yes    2110
Name: dependents, dtype: int64
TENURE
1     613
72    362
2     238
3     200
4     176
71    170
5     133
7     131
8     123
9     119
70    119
12    117
10    116
6     110
13    109
68    100
15     99
11     99
67     98
18     97
69     95
24     94
22     90
66     89
35     88
17     87
23     85
16     80
56     80
52     80
64     80
25     79
26     79
14     76
65     76
61     76
60     76
46     74
19     73
27     72
29     72
30     72
63     72
20     71
53     70
62     70
41     70
32     69
50     68
54     68
47     68
51     68
58     67
49     66
31     65
43     65
42     65
34     65
57     65
37     65
40     64
48     64
33     64
55     64
21     63
45     61
59     60
38     59
28     57
39     56
44     51
36     50
0      11
Name: tenure, dtype: int64
PHONE_SERVICE
Yes    6361
No      682
Name: phone_service, dtype: int64
MULTIPLE_LINES
No                  3390
Yes                 2971
No phone service     682
Name: multiple_lines, dtype: int64
ONLINE_SECURITY
No                     3498
Yes                    2019
No internet service    1526
Name: online_security, dtype: int64
ONLINE_BACKUP
No                     3088
Yes                    2429
No internet service    1526
Name: online_backup, dtype: int64
DEVICE_PROTECTION
No                     3095
Yes                    2422
No internet service    1526
Name: device_protection, dtype: int64
TECH_SUPPORT
No                     3473
Yes                    2044
No internet service    1526
Name: tech_support, dtype: int64
STREAMING_TV
No                     2810
Yes                    2707
No internet service    1526
Name: streaming_tv, dtype: int64
STREAMING_MOVIES
No                     2785
Yes                    2732
No internet service    1526
Name: streaming_movies, dtype: int64
PAPERLESS_BILLING
Yes    4171
No     2872
Name: paperless_billing, dtype: int64
MONTHLY_CHARGES
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
116.55     1
106.85     1
68.55      1
108.80     1
67.85      1
Name: monthly_charges, Length: 1585, dtype: int64
TOTAL_CHARGES
           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: total_charges, Length: 6531, dtype: int64
CHURN
No     5174
Yes    1869
Name: churn, dtype: int64
CONTRACT_TYPE
Month-to-month    3875
Two year          1695
One year          1473
Name: contract_type, dtype: int64
INTERNET_SERVICE_TYPE
Fiber optic    3096
DSL            2421
None           1526
Name: internet_service_type, dtype: int64
PAYMENT_TYPE
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: payment_type, dtype: int64

In [78]:
telco_churn_db.head().T #from class review

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
payment_type_id,2,2,1,1,2
internet_service_type_id,1,1,2,2,2
contract_type_id,2,1,1,1,1
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ
gender,Female,Male,Male,Male,Female
senior_citizen,0,0,0,1,1
partner,Yes,No,No,Yes,Yes
dependents,Yes,No,No,No,No
tenure,9,9,4,13,3
phone_service,Yes,Yes,Yes,Yes,Yes
multiple_lines,No,Yes,No,No,No
online_security,No,No,No,No,No
online_backup,Yes,No,No,Yes,No
device_protection,No,No,Yes,Yes,No
tech_support,Yes,No,No,No,Yes
streaming_tv,Yes,No,No,Yes,Yes
streaming_movies,No,Yes,No,Yes,No
paperless_billing,Yes,No,Yes,Yes,Yes
monthly_charges,65.6,59.9,73.9,98.0,83.9
total_charges,593.3,542.4,280.85,1237.85,267.4
churn,No,No,Yes,Yes,Yes
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [83]:
pd.crosstab(telco_churn_db.payment_type, telco_churn_db.payment_type_id)

payment_type_id               1     2     3     4
payment_type
Bank transfer (automatic)     0     0  1544     0
Credit card (automatic)       0     0     0  1522
Electronic check           2365     0     0     0
Mailed check                  0  1612     0     0

In [84]:
pd.crosstab(telco_churn_db.internet_service_type, telco_churn_db.internet_service_type_id)

internet_service_type_id     1     2     3
internet_service_type
DSL                       2421     0     0
Fiber optic                  0  3096     0
None                         0     0  1526

In [85]:
pd.crosstab(telco_churn_db.contract_type, telco_churn_db.contract_type_id)

contract_type_id     1     2     3
contract_type
Month-to-month    3875     0     0
One year             0  1473     0
Two year             0     0  1695

In [86]:
telco_churn_db = telco_churn_db.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id'])

In [106]:
telco_churn_db.T

,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ,0013-MHZWF,0013-SMEOE,0014-BMAQU,0015-UOCOJ,0016-QLJIS,...,9975-SKRNR,9978-HYCIN,9979-RGMZT,9985-MWVIX,9986-BONCE,9987-LUTYD,9992-RRAMN,9992-UJOEL,9993-LHIEB,9995-HOTOH
gender,Female,Male,Male,Male,Female,Female,Female,Male,Female,Female,...,Male,Male,Female,Female,Female,Female,Male,Male,Male,Male
senior_citizen,0,0,0,1,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
partner,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes,...,No,Yes,No,No,No,No,Yes,No,Yes,Yes
dependents,Yes,No,No,No,No,Yes,No,No,No,Yes,...,No,Yes,No,No,No,No,No,No,Yes,Yes
tenure,9,9,4,13,3,9,71,63,7,65,...,1,47,7,1,4,13,22,2,67,63
phone_service,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
multiple_lines,No,Yes,No,No,No,No,No,Yes,No,Yes,...,No,No,No,No,No,No,Yes,No,No,No phone service
online_security,No,No,No,No,No,No,Yes,Yes,Yes,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,Yes
online_backup,Yes,No,No,Yes,No,No,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,Yes,No,Yes
device_protection,No,No,Yes,Yes,No,No,Yes,No,No,Yes,...,No internet service,No,No,No,No internet service,No,No,No,Yes,Yes
tech_support,Yes,No,No,No,Yes,Yes,Yes,Yes,No,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,No
streaming_tv,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,No,No,Yes
streaming_movies,No,Yes,No,Yes,No,Yes,Yes,No,No,Yes,...,No internet service,No,Yes,No,No internet service,No,Yes,No,Yes,Yes
paperless_billing,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,Yes,Yes,Yes,No,No,Yes,Yes,No,No
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65,48.2,90.45,...,18.9,84.95,94.05,70.15,20.95,55.15,85.1,50.3,67.85,59.0
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8,340.35,5957.9,...,18.9,4018.05,633.45,70.15,85.5,742.9,1873.7,92.75,4627.65,3707.6
churn,No,No,Yes,Yes,Yes,No,No,No,No,No,...,No,No,No,Yes,Yes,No,Yes,No,No,No
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Two year,Two year,Month-to-month,Two year,...,Month-to-month,One year,One year,Month-to-month,Month-to-month,One year,Month-to-month,Month-to-month,Two year,Two year
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic,DSL,Fiber optic,Fiber optic,DSL,DSL,...,None,Fiber optic,Fiber optic,Fiber optic,None,DSL,Fiber optic,DSL,DSL,DSL
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check,Credit card (automatic),Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check,...,Mailed check,Bank transfer (automatic),Mailed check,Mailed check,Bank transfer (automatic),Mailed check,Electronic check,Mailed check,Mailed check,Electronic check

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [107]:
dummy_telco_churn_db = pd.get_dummies(telco_churn_db[['gender', 'partner', 'dependents', 'phone_service', 'multiple_lines', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn', 'contract_type', 'internet_service_type', 'payment_type']], dummy_na=False, drop_first=True)

In [108]:
dummy_telco_churn_db

,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,...,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,1,1,1,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,1
1,1,0,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,0,0,1,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,1,0
3,1,1,0,1,0,0,0,0,0,1,...,1,1,1,0,0,1,0,0,1,0
4,0,1,0,1,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
7039,1,1,0,1,0,1,0,0,0,0,...,1,1,1,0,0,1,0,0,1,0
7040,1,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
7041,1,1,1,1,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
7042,1,1,1,0,1,0,0,1,0,1,...,1,0,0,0,1,0,0,0,1,0

In [110]:
telco_churn_db = pd.concat([telco_churn_db, dummy_telco_churn_db], axis=1)

In [112]:
telco_churn_db.T

,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,...,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042
customer_id,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ,0013-MHZWF,0013-SMEOE,0014-BMAQU,0015-UOCOJ,0016-QLJIS,...,9975-SKRNR,9978-HYCIN,9979-RGMZT,9985-MWVIX,9986-BONCE,9987-LUTYD,9992-RRAMN,9992-UJOEL,9993-LHIEB,9995-HOTOH
gender,Female,Male,Male,Male,Female,Female,Female,Male,Female,Female,...,Male,Male,Female,Female,Female,Female,Male,Male,Male,Male
senior_citizen,0,0,0,1,1,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
partner,Yes,No,No,Yes,Yes,No,Yes,Yes,No,Yes,...,No,Yes,No,No,No,No,Yes,No,Yes,Yes
dependents,Yes,No,No,No,No,Yes,No,No,No,Yes,...,No,Yes,No,No,No,No,No,No,Yes,Yes
tenure,9,9,4,13,3,9,71,63,7,65,...,1,47,7,1,4,13,22,2,67,63
phone_service,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
multiple_lines,No,Yes,No,No,No,No,No,Yes,No,Yes,...,No,No,No,No,No,No,Yes,No,No,No phone service
online_security,No,No,No,No,No,No,Yes,Yes,Yes,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,Yes
online_backup,Yes,No,No,Yes,No,No,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,Yes,No,Yes
device_protection,No,No,Yes,Yes,No,No,Yes,No,No,Yes,...,No internet service,No,No,No,No internet service,No,No,No,Yes,Yes
tech_support,Yes,No,No,No,Yes,Yes,Yes,Yes,No,Yes,...,No internet service,No,No,No,No internet service,Yes,No,No,Yes,No
streaming_tv,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,...,No internet service,Yes,Yes,No,No internet service,No,No,No,No,Yes
streaming_movies,No,Yes,No,Yes,No,Yes,Yes,No,No,Yes,...,No internet service,No,Yes,No,No internet service,No,Yes,No,Yes,Yes
paperless_billing,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,No,Yes,Yes,Yes,No,No,Yes,Yes,No,No
monthly_charges,65.6,59.9,73.9,98.0,83.9,69.4,109.7,84.65,48.2,90.45,...,18.9,84.95,94.05,70.15,20.95,55.15,85.1,50.3,67.85,59.0
total_charges,593.3,542.4,280.85,1237.85,267.4,571.45,7904.25,5377.8,340.35,5957.9,...,18.9,4018.05,633.45,70.15,85.5,742.9,1873.7,92.75,4627.65,3707.6
churn,No,No,Yes,Yes,Yes,No,No,No,No,No,...,No,No,No,Yes,Yes,No,Yes,No,No,No
contract_type,One year,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Month-to-month,Two year,Two year,Month-to-month,Two year,...,Month-to-month,One year,One year,Month-to-month,Month-to-month,One year,Month-to-month,Month-to-month,Two year,Two year
internet_service_type,DSL,DSL,Fiber optic,Fiber optic,Fiber optic,DSL,Fiber optic,Fiber optic,DSL,DSL,...,None,Fiber optic,Fiber optic,Fiber optic,None,DSL,Fiber optic,DSL,DSL,DSL
payment_type,Mailed check,Mailed check,Electronic check,Electronic check,Mailed check,Credit card (automatic),Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check,...,Mailed check,Bank transfer (automatic),Mailed check,Mailed check,Bank transfer (automatic),Mailed check,Electronic check,Mailed check,Mailed check,Electronic check
gender_Male,0,1,1,1,0,0,0,1,0,0,...,1,1,0,0,0,0,1,1,1,1
partner_Yes,1,0,0,1,1,0,1,1,0,1,...,0,1,0,0,0,0,1,0,1,1
dependents_Yes,1,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,1
phone_service_Yes,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
multiple_lines_No phone service,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
multiple_lines_Yes,0,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
online_security_No internet service,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
online_security_Yes,0,0,0,0,0,0,1,1,1,1,...,0,0,0,0,0,1,0,0,1,1
online_backup_No internet service,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
online_backup_Yes,1,0,0,1,0,0,1,0,0,1,...,0,1,1,0,0,0,0,1,0,1
device_protection_No internet service,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
device_protection_Yes,0,0,1,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,1
tech_support_No internet service,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
tech_support_Yes,1,0,0,0,1,1,1,1,0,1,...,0,0,0,0,0,1,0,0,1,0
streaming_tv_No internet service,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
streaming_tv_Yes,1,0,0,1,1,1,1,0,0,1,...,0,1,1,0,0,0,0,0,0,1
streaming_movies_No internet service,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
streaming_movies_Yes,0,1,0,1,0,1,1,0,0,1,...,0,0,1,0,0,0,1,0,1,1
paperless_billing_Yes,1,0,1,1,1,1,1,1,1,1,...,0,1,1,1,0,0,1,1,0,0
churn_Yes,0,0,1,1,1,0,0,0,0,0,...,0,0,0,1,1,0,1,0,0,0
contract_type_One year,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,0,0
contract_type_Two year,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,1
internet_service_type_Fiber optic,0,0,1,1,1,0,1,1,0,0,...,0,1,1,1,0,0,1,0,0,0
internet_service_type_None,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
payment_type_Credit card (automatic),0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
payment_type_Electronic check,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
payment_type_Mailed check,1,1,0,0,1,0,0,0,0,1,...,1,0,1,1,0,1,0,1,1,0

In [113]:
telco_churn_db

,Unnamed: 0,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,...,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,...,0,1,0,1,0,0,0,0,0,1
1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,...,1,0,0,0,0,0,0,0,0,1
2,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,...,0,1,1,0,0,1,0,0,1,0
3,3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,...,1,1,1,0,0,1,0,0,1,0
4,4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,...,0,0,0,1,0,0,0,0,0,1
7039,7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,...,1,1,1,0,0,1,0,0,1,0
7040,7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,...,0,1,0,0,0,0,0,0,0,1
7041,7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,...,1,0,0,0,1,0,0,0,0,1
7042,7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,...,1,0,0,0,1,0,0,0,1,0

Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

# COME BACK TO THIS!!!

In [ ]:


def prep_telco():
    telco_churn_db = acquire.get_telco_data()
    telco_churn_db = telco_churn_db.drop(columns=['payment_type_id', 'internet_service_type_id', 'contract_type_id'])
    dummy_telco_churn_db = pd.get_dummies(telco_churn_db[['gender', 'partner', 'dependents', 'phone_service', 'multiple_lines', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn', 'contract_type', 'internet_service_type', 'payment_type']], dummy_na=False, drop_first=True)
    telco_churn_db = pd.concat([telco_churn_db, dummy_telco_churn_db], axis=1)

# Split your data

Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [115]:
def split_data(df, stratify_col):
    train_validate, test = train_test_split(df, test_size = .2, random_state=123, stratify=df.stratify_col)
    train, validate = train_test_split(train_validate, test_size=.25, random_state=123, stratify=train_validate.stratify)
    return train, validate, test

Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.